Library/FailedAssetImports.txt
Library/cache/
Library/previews/
Library/ScriptAssemblies
obj/
Temp/

*.pidb
*.userprefs
*.sln
*.csproj
*.userprefs
*.unityproj
.DS_Store
 
*.orig
Bouncy Box/Library/AssetServerCacheV3
Bouncy Box/Library/metadata/*
Bouncy Box/Library/assetDatabase3
Bouncy Box/Library/ScriptAssemblies
Bouncy Box/Library
Bouncy Box\Library\metadata\*

Bouncy Box/Assets/plugins/Android/res.meta
Bouncy Box/Assets/plugins/Android/res/values.meta
